doctype html
html
  include /partials/head

  body
    include /partials/navbar

    div(class="d-flex flex-row justify-content-start h-100")
      include /partials/sidebar
      div(class="flex-grow-1")
        block content
