doctype html
html
  include /partials/head

  body

    div(class = "d-flex flex-column h-100")
      include /partials/navbar

      div(class = "d-flex flex-row justify-content-start flex-grow-1")
        include /partials/sidebar
        block content
