doctype html
html
  include /partials/head

  body

    div(class = "d-flex flex-column h-100")
      include /partials/navbar

      div(class = "d-flex flex-row justify-content-start flex-grow-1")
        include /partials/sidebar
        div(class = "flex-grow-1 overflow-auto")
          block content
