<!doctype html>
<html lang="fr">
  <%- include("./partials/head") %>
  <body>

    <%- include("./partials/navbar") %>
    <%- include("./partials/sidebar") %>

    <p>Page d'acceuil du dashboard</p>
  </body>
</html>
