extends layouts/main.pug

block styles
  +adminCss("/css/dashboardStyle.css")



block content

  button(type="button", class="btn btn-primary m-5") ADD USER

  div(class="container")
    table(class="table table-bordered table-hover")
      thead
        tr
          th(scope="col") Lastname
          th(scope="col") Firstname
          th(scope="col") Email
          th(scope="col") Is superAdmin
          th(scope="col") Change

      tbody
        each user in users
          tr
            td #{user.lastname}
            td #{user.firstname}
            td #{user.email}
            td #{user.isSuperAdmin ? 'SuperAdmin' : 'Admin'}
              i(class="bi bi-award" + (user.isSuperAdmin ? '-fill' : ''))
            td
              button(class="btn btn-primary", type="button", data-bs-tooggle="") EDIT
