<!doctype html>
<html lang="fr">
  <%- include("./partials/head") %>
  <body>

    <div class="d-flex flex-column h-100">

      <%- include("./partials/navbar") %>

      <div class="d-flex flex-row flex-grow-1">
        <%- include("./partials/sidebar") %>
        <p>Page d'acceuil du dashboard</p>

      </div>
    </div>
  </body>
</html>
