extends layouts/main

include /mixins/modalRecordEditor

block styles
  +sdCss("/css/w2ui-2.0.min.css")
  +sdCss("/css/tableView.css")

block scripts
  +sdJs("/js/tableView.js")


block content

  div(class = "d-flex flex-column flex-grow-1 overflow-auto")
    div(class="d-flex flex-row justify-content-between p-2 px-3 shadow-sm")
      h1(class="fs-4 my-auto") #{modelInfo.modelName}
      button(type="button", class="btn btn-primary mx-3") New #{modelInfo.modelName}

    div(class="flex-grow-1", id="tableContainer")
