head
  meta(charset="UTF-8")
  title Titre de la page
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")

  link(rel="stylesheet", type="text/css", href="/admin/css/bootstrap.min.css")
  link(rel="stylesheet", href="/admin/css/dashboardStyle.css", type="text/css", media="all")

  script(src="/admin/js/bootstrap.bundle.min.js", type="module", defer)
