button.btn.btn-primary(type="button", data-bs-toggle="modal", data-bs-target="#loginSignupModal")
  | Launch demo modal

div.modal.fade(id="loginSignupModal", tabindex="-1", role="dialog", aria-labelledby="modalLabel", aria-hidden="true")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h5.modal-title#modalLabel Modal title
        button.close(type="button", data-bs-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      div.modal-body
        | Modal body text goes here.
      div.modal-footer
        a.btn.btn-primary(href="/login") button 1
        a.btn.btn-secondary(href="/signup") Button 2
