<div class="custom-border-bottom">
<nav class="px-3 d-flex justify-content-between">
  <div class="d-flex">
    <p class="fs-3 my-auto">Dashboard</p>
    <p class="search-bar my-auto px-3 d-flex">
      <input type="text" class="form-control" placeholder="Search">
      <button class="btn btn-primary px-3" type="button"></button>
    </p>
  </div>
  <div class="text-end m-0 my-auto">
    <p class="fw-bolder fs-4 mb-0">Jérôme Lego</p>
    <p class="mb-0">Super admin</p>
  </nav>
</div>