div(class="d-flex flex-column flex-shrink-0 p-3 bg-light justify-content-start custom-width mh-100")
  a(href="/", class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none")
    svg(class="bi me-2", width="40", height="32")
    use(xlink:href="#bootstrap")
    span.fs-4 Sidebar
  hr
  ul(class="nav nav-pills flex-column mb-auto")
    li(class="nav-item")
      a(href="#", class="nav-link active", aria-current="page") Admin
    li
      a(href="#", class="nav-link") Users
    li
      a(href="#", class="nav-link") Roles
    li
      a(href="#", class="nav-link") Permissions
    li
      a(href="#", class="nav-link active") Models

    each [modelName, model] of Object.entries(locals.models)
      li
        a(href="#", class="nav-link link-dark") #{modelName}
