<div class="d-flex flex-row justify-content-start h-100">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light justify-content-start custom-width mh-100">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Sidebar</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">

        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Admin
          </a>
        </li>

        <li>
          <a href="#" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Users
          </a>
        </li>

        <li>
          <a href="#" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Roles
          </a>
        </li>

        <li>
          <a href="#" class="nav-link">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Permissions
          </a>
        </li>

        <li>
          <a href="#" class="nav-link active">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Models
          </a>
        </li>
        

        <% for (const [modelName, model] of Object.entries(locals.simpleDash.models)) { %>
          <li>
            <a href="#" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              <%= modelName %>
            </a>
          </li>

        <% } %>

      </ul>
    </div>
  </div>
</div>